.category-content {
    color: rgb(53, 23, 23);
    font-size: 13px;
}

.category-image {
    margin-top: 15px;
    width: 100px;
    height: 100px;
}

.category-title {
    color: rgb(124, 34, 34);
    font-size: 15px;
    font-weight: bold;
}

.category-hover {
    transition: 0.4s ease;
}

.category-hover:hover {
    border-radius: 3px;
    box-shadow: 0 0 7px 1px rgb(124, 34, 34);
        font-size: 15px;;
}