.custom-nav-tabs .nav-link {
    border: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    color: rgb(49, 49, 49);
}

.custom-nav-tabs {
    border-bottom: 0;
}

.custom-nav-tabs .nav-link.active {
    color: rgb(210, 30, 30);
    background-color: transparent;
}

.special-offer-image {
    margin: 15px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.special-offer-title {
    color: brown;
    font-weight: bold;
}

.special-offer-title-span {
    color: rgb(62, 148, 206);
    margin-right: 30px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .special-offer-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

.price2 {
    color: rgb(204, 45, 45);
    font-weight: bold;
}

.price1 {
    color: rgb(56, 55, 55);
    font-weight: bold;
}

.custom-countdown {
    color: rgb(59, 68, 67);
    font-size: 13px;
}

.text-time-offer {
    color: rgb(59, 68, 67);
    font-size: 13px;
    font-weight: bold;
}

.countdown {
    min-height: 80px; 
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-family: sans-serif;
    direction: rtl;
}

.unit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.label {
    font-size: 0.9rem;
    color: #666;
    margin-top: 0.25rem;
}

.expired-message {
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
}

.expired {
    opacity: 0.6;
}

.offer-today {
    border-bottom: 3px solid #9e0505;
    margin-top: 9px;
    margin-right: 15px;
}

.offer-body.expired {
    opacity: 0.5;
    pointer-events: none;
    filter: blur(1px); /* اختیاری برای جذاب‌تر شدن */
    transition: all 0.3s ease;
  }
  
  