.news-latter-s1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #dc3545;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

}

.news-latter-s1 h5 {
    font-size: 16px;
}

.news-latter-s1 p {
    font-size: 14px;
    margin-bottom: 0;
}

.news-latter-s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #dc3545;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

}

.news-latter-s2 p {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
}

.news-latter-s3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #dc3545;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.btn-footer {
    padding: 3px 20px;
    font-size: 14px;
}

.form-footer {
    border-radius: 0;
}

@media (max-width:762px) {
    .news-latter-s1 {
        display: flex;
        flex-direction: column;
        justify-content: end;
        border-style: solid;
        border-width: 1px 0 0 0;
        border-color: #dc3545;
    }

    .news-latter-s2 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-width: 1px 0 0 0;
        border-color: #dc3545;
    }

    .news-latter-s3 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-width: 1px 0 1px 0;
        border-color: #dc3545;
        padding-bottom: 2rem;
    }
    
}

.footer-section h5 {
    font-size: 14px;
    display: inline;
    border-bottom: 2px solid #35d1dc;
}

.footer-section div div ul li a {
    padding-right: 0;
    font-size: 13px;
    color: rgb(68, 68, 68);
}

.footer-section div div ul li a:hover {
    transition: 0.2s ease;
    color: #dc3545;
}

.footer-section div div ul li a:active {
    color: #0d9451;
}

.footer-section-s1, .footer-section-s2, .footer-section-s3, .footer-section-s4 {
    margin-bottom: 3rem;
}

.footer-icon i {
    color: #185155;
    float: right;
    margin-top: 1rem;
    font-size: 25px;
}

.support-footer p{
    font-size: 10px;
    margin: 0;
    margin-top: 1rem;
    margin-right: 2rem;
} 

.support-footer a {
    font-size: 10px;
    margin-top: 1rem;
    margin-right: 0.5rem;
    color: rgb(48, 48, 48);
}

.social-media-footer p {
    font-size: 11px;
}

.social-media-footer a i {
    font-size: 18px;
    color: #185155;
}

.social-media-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 70%;
}

.footer-end {
    height: 50px;
    font-size: 12px;
    margin-top: 30px;
}