.email-label, .password-label {
    font-size: 12px;
    text-align: center;
}

.form-check-label {
    font-size: 10px;
}

.custom-login-title {
    font-size: 16px !important;
}

.footer-login {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 50px;
    font-size: 10px;
}

.footer-login-a1, .footer-login-a2 {
    display: flex;
    color: rgb(0, 0, 0);
    margin-top: 0.5rem;
}