.shipping-p1 {
font-size: 13px;
font-weight: bold;
color: rgb(16, 66, 160);
}

.shipping-p2 {
    font-size: 13px;
}

.shipping-icon {
    width: 24px;
    height: 24px;
}

.custom-footer {
    background-color: rgba(194, 109, 109, 0.3);
}